@{
    ViewData["Title"] = "Weather forecast";
}

<form asp-action="Details" method="get">
    <div class="d-flex justify-content-center">
        <div class="ng-container mt-5 w-50">
            <div class="row text-center mb-3">
                <h4>Choose city to check weather forecast.</h4>
            </div>
            <div class="row text-center">
                <div class="col-9">
                    <input type="text" name="city" class="form-control" value="@ViewBag.City"/>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary w-100">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>